.gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: calc(100vh - var(--header-height) - var(--footer-height));
	padding: 1em 0;
}

.gallery p {
	margin: 0.5em 1em;
}

.gallery .go-to-button {
	background-image: radial-gradient(
		100% 100% at 100% 0,
		#657ec4 0,
		#1a3c9b 100%
	);
	box-shadow: rgba(12, 27, 69, 0.6) 0 2px 4px,
		rgba(12, 27, 69, 0.45) 0 7px 13px -3px, rgba(21, 56, 77, 0.5) 0 -3px 0 inset;
	margin-top: 0.5em;
}

.gallery .go-to-button:hover {
	box-shadow: rgba(35, 46, 66, 0.4) 0 4px 8px,
		rgba(35, 45, 66, 0.3) 0 7px 13px -3px, #434c80 0 -3px 0 inset;
}

.gallery .go-to-button:active {
	box-shadow: #a2abc7 0 3px 7px inset;
}

.gallery .gallery-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	align-items: flex-start;
	margin: 1em 0 0 0;
}

.gallery-grid .gallery-object {
	position: relative;
	width: 350px;
	background: linear-gradient(
		45deg,
		var(--nav-hover-bg) 0%,
		var(--nav-bg) 100%
	);
	border-radius: 1em;
	box-shadow: 0 0.35em 0.75em rgba(0, 0, 0, 0.7);
	text-align: center;
	overflow: hidden;
	justify-self: center;
}

.gallery-grid .gallery-object a {
	text-decoration: none;
}

.gallery-grid .gallery-object img {
	height: 200px;
	box-shadow: 0 0.35em 0.75em rgba(0, 0, 0, 0.7);
}

.gallery-grid .gallery-object h2 {
	font-size: 1.6em;
	color: var(--yellow);
	filter: drop-shadow(0.25rem 0.25rem 0.25rem rgb(0, 0, 0));
	margin: 0.5em 0;
}

.gallery-object .remove-hamster {
	background-color: white;
	color: var(--nav-bg);
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.5em;
	outline: 2px solid var(--nav-bg);
	border-bottom-left-radius: 0.75em;
	cursor: pointer;
	user-select: none;
	transition: padding 0.15s;
}

.gallery-object .remove-hamster:hover {
	background-color: rgb(240, 240, 240);
	padding: 0.4em 0.5em 0.6em 0.5em;
	text-decoration: underline;
}

.gallery-object .remove-hamster:active {
	background-color: rgb(240, 240, 240);
	padding: 0.6em 0.5em 0.4em 0.5em;
	text-decoration: underline;
}

.gallery-object .remove-hamster p {
	margin: 0;
}

.gallery-object .confirm-delete,
.gallery-object .confirm-delete-hidden {
	background-color: rgba(255, 255, 255, 0.85);
	width: 60%;
	border-radius: 0.5em;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding: 0.5em;
	transition: left ease-in-out 1s;
	box-shadow: 0 0.35em 0.75em rgba(0, 0, 0, 0.7);
}

.gallery-object .confirm-delete {
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.gallery-object .confirm-delete-hidden {
	left: -500px;
}

.gallery-object .confirm-delete p,
.gallery-object .confirm-delete-hidden p {
	margin-bottom: 0.5em;
}

.gallery-grid .no-hamsters {
	padding-left: 1em;
	padding-right: 1em;
	text-align: center;
}

.gallery-grid .no-hamsters p {
	margin-bottom: 1em;
}

.add-hamster-form {
	width: 350px;
	text-align: center;
	border-radius: 1em;
	box-shadow: 0 0.35em 0.75em rgba(0, 0, 0, 0.7);
	padding-top: 1em;
	justify-self: center;
}

.add-hamster-form .hamster-input {
	width: 100%;
	text-align: center;
}

.hamster-input label#icon {
	height: 19px;
	margin: 0;
	border-radius: 0.5em 0 0 0.5em;
}

.hamster-input input[type='text'] {
	width: 50%;
	height: 35px;
	margin: 13px 0 0 -5px;
	padding-left: 10px;
	border-radius: 0 0.5em 0.5em 0;
	border: solid 1px #cbc9c9;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.09);
	background: #fff;
}

.hamster-input #icon {
	display: inline-block;
	padding: 8px 15px 9px 15px;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.09);
	background: var(--nav-bg);
	color: #fff;
	text-align: center;
}

.add-hamster-form .error-message {
	margin: 0em 1em;
	color: var(--red-wildcard);
	/* display: none; */
}

.add-hamster-form .error-messages {
	margin: 0.5em 0 -0.5em 0;
}

.add-hamster-form .error-message p {
	margin: 0;
}

.add-hamster-form button {
	margin: 1em 0 1em 0;
}

@media screen and (min-width: 768px) {
	.gallery .gallery-grid {
		grid-template-columns: 1fr 1fr;
	}

	.gallery-grid .gallery-object,
	.gallery-grid .add-hamster-form {
		width: 285px;
	}
}

@media screen and (min-width: 1024px) {
	.gallery-grid .gallery-object,
	.gallery-grid .add-hamster-form {
		width: 335px;
	}
}

@media screen and (min-width: 1440px) {
	.gallery .gallery-grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.gallery-grid .gallery-object,
	.gallery-grid .add-hamster-form {
		width: 315px;
	}
}

@media screen and (min-width: 1920px) {
	.gallery .gallery-grid {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
